<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com"/>

    <import resource="datasource/dataSourceContext.xml" />

    <bean id="login" class="com.model.UserLogin" />

    <bean id="userLoginDaoImpl" class="com.dao.daoImpl.UserLoginDaoImpl"/>
    
    <bean id="userLoginServiceImpl" class="com.service.serviceImpl.UserLoginServiceImpl"/>
    
    <bean id="loginFrame" class="com.jFrames.Login">
        <property name="userLoginService" ref="userLoginServiceImpl"/>
    </bean>

</beans>
